<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
  </head>
  <div class="anchored">
    <header>
      <img class=""src="https://i.imgur.com/PHJtGpv.jpg" alt="banner" height="300px" width="100%">
    </header>
  </div>
  <body>
    <div class="btn btn-info">
      <%= button_to "Home", user_path(@user), method: "get" %><br/>
    </div>
    <div id="left"></div>
    <div id="right"></div>
    <div id="top"></div>
    <div id="bottom"></div>
    <div class="login-3">
      <%= form_for [@user, @idea] do |f| %>
      <%= f.label :name  %>
      <%= f.text_field :name, placeholder: "Idea Title*" %>
      <%= f.label :content %>
      <%= f.text_area :content , placeholder: "Idea*",:size => "60%x12%"  %><br>
      <%= f.submit class: "sub-btn" %>
      <p> Category select  <%= f.collection_select(:categories_id, Category.all, :id, :title) %></p>
    </div>
    <% Image.all.each do |image| %>
    <%= image_tag(image.url, :class=> "img-circular")%>
    <%= check_box_tag("image_url[]",image.id) %>
    <% end %>
    <% end %>
 </body>
</html>
