<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create New User</title>
    </head>
    <body>
      <div class="form">
        <h3>Sign up here!</h3>
          <div class="wrapper">
            <%= form_for @user do |f| %>
            <%= f.label :Username %>
            <%= f.text_field :name, placeholder: "new user name.*" %>
            <br>
            <%= f.label :Email %>
            <%= f.text_field :email, placeholder: "please enter your email.*" %>
            <br>
            <%= f.label :password %>
            <%= f.password_field :password, placeholder: "Choose a Password.*" %><br>
            <br>
            <p>* required field</p>
              <%= f.submit "Create User", class: "sub-btn" %>
              <%= flash[:success].html_safe %>
              <% end %>
            </div>
          </div>
        </body>
    </html>
