<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
    <body>
      <div class="form">
        <h3>Sign up here!</h3>
          <div class="wrapper">
            <%= form_for @user do |f| %>
            <%= f.label :Username %>
            <%= f.text_field :name, placeholder: "new user name.*" %>
            <br>
            <%= f.label :Email %>
            <%= f.text_field :email, placeholder: "please enter your email.*" %>
            <br>
            <%= f.label :password %>
            <%= f.password_field :password, placeholder: "Choose a Password.*" %><br>
            <br>
            <p>* required field</p>
              <div class="btn btn-info">
              <%= f.submit "Create User", class: "sub-btn" %>
            </div>
              <% end %>
            </div>
          </div>
        </body>
    </html>
