<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title></title>
  </head>
  <body>
<div class="title">
<h1> Welcome, <%= @user.name %>!</h1><br/>
</div>
<%= button_to "Add a New Idea", new_user_idea_path(@user), method: "get" %><br/>
<%= button_to "View all ideas", user_ideas_path(@user), method: "get" %><br/>
<span class="button-wrap">
<div class="button button-raised button-primary button-pill">
<%= link_to "Add/Delete Category", admin_categories_path if current_user.admin? %>
</div>
</span>
<span class="button-wrap">
<div class="button button-raised button-primary button-pill">
<%= link_to "Log Out", logout_path, method: :delete %>

</div>
</span>

</div>
</html>
